<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CoffeeBreak</title>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <div class='jumbotron'>
      <div class='container-fluid'>
        <h1> CoffeeBreak </h1>
        <p> Your coffee spot hub. </p>
      </div>
    </div>





    <div class="container-fluid">
      <section>
        <div class="row">
          <div class="col-md-5">
            <div class='form-group'>
              <h3>Add a Coffee Spot</h3>
              <form class="form-vertical">
                <input id="nameInput" name="name" type="text" placeholder="Name of coffee spot" class="form-control input-md" required="">
                <input id="locationInput" name="location" type="text" placeholder="City e.g: san francisco" class="form-control input-md" required="">
                <input id="imageInput" name="image" type="text" placeholder="image url e.g: http://site.com/data/images/coffeecup.jpg" class="form-control input-md">
                <br></br>
                <label class='col-md-4'>Attributes</label>
                <br></br>
                <div id="attribute-one"class='col-md-4'>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="freeWifi" id="freeWifiBox" >
                      Free wifi
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="outlets" id="outletsBox">
                      Power Outlets
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="goodCoffee" id="goodCoffeeBox">
                      Good Coffee
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="goodForGroups" id="goodForGroupsBox">
                      Good for groups
                    </label>
                  </div>
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" name="parkingLot" id="parkingLotBox">
                      Parking Available
                    </label>
                  </div>
                </div>
                <button type="submit" id="addCoffeespot" class="btn btn-secondary">Add a Coffee Spot!</button>
              </form>
            </div>
          </div>
        </div>
        <div class="col-md-7 col-md-offset-5">
          <h2>Coffee Spots</h2>
          <div id="target">
            <script id="coffeespot-template" type="text/x-handlebars-template">
              <div data-id="{{_id}}">
                <hr color="black" width="80%" size:"4" align="LEFT"></hr>
                <div class="coffeespotHeader">
                  <h2> {{name}} </h2>
                  <h4>{{location.city}} , CA</h4>
                </div>
                <img class="image-responsive" src="{{image}}">
                <ul>{{#if freeWifi}}
                  <li>Free Wifi: YES </li>
                  {{else}}
                  <li>Free Wifi: NO </li>
                  {{/if}}

                  {{#if outlets}}
                  <li>Power Outlets: YES </li>
                  {{else}}
                  <li>Power Outlets: NO </li>
                  {{/if}}

                  {{#if outlets}}
                  <li>Good Coffee: YES </li>
                  {{else}}
                  <li>Good Coffee: NO </li>
                  {{/if}}

                  {{#if outlets}}
                  <li>Good for Groups: YES</li>
                  {{else}}
                  <li>Good for Groups: NO</li>
                  {{/if}}

                  {{#if outlets}}
                  <li>Parking Available: YES</li>
                  {{else}}
                  <li>Parking Available: NO</li>
                  {{/if}}
                </ul>
                <div>
                  <a href="{{link}}">Yelp</a>

                  <button type="edit" class="btn btn-secondary editBtn">Edit</button>

                  <button type="delete" class="deleteBtn btn-danger" data-id="{{_id}}">Delete</button>
                </div>
              </div>
            </script>

          </div>
        </div>
      </div>
    </section>

    <!--modal FOR THE FUTURE--
    <div class="modal fade" id="coffeespotModal" tabindex="-1" role="dialog">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal"> Close </button>
            <h4 class="modal-title">Edit Coffee Spot</h4>
          </div>
          <div class="modal-body">
          handlebars for model
            <script id="coffeespot-template" type="text/x-handlebars-template">
              <div data-id="{{_id}}">
                <hr color="black" width="80%" size:"4" align="LEFT"></hr>
                <div class="coffeespotHeader">
                  <h2> {{name}} </h2>
                  <h4>{{location.city}} , CA</h4>
                </div>
                <img class="image-responsive" src="{{image}}">
                <ul>{{#if freeWifi}}
                  <li>Free Wifi: YES </li>
                  {{else}}
                  <li>Free Wifi: NO </li>
                  {{/if}}

                  {{#if outlets}}
                  <li>Power Outlets: YES </li>
                  {{else}}
                  <li>Power Outlets: NO </li>
                  {{/if}}

                  {{#if outlets}}
                  <li>Good Coffee: YES </li>
                  {{else}}
                  <li>Good Coffee: NO </li>
                  {{/if}}

                  {{#if outlets}}
                  <li>Good for Groups: YES</li>
                  {{else}}
                  <li>Good for Groups: NO</li>
                  {{/if}}

                  {{#if outlets}}
                  <li>Parking Available: YES</li>
                  {{else}}
                  <li>Parking Available: NO</li>
                  {{/if}}
                </ul>
              </div>
            </script>

            <form id="editModalBody" class="form-horizontal">
            Text Input -
              <input id="nameInput" name="name" type="text" placeholder="Name of coffee spot" class="form-control input-md" required="">

              <input id="locationInput" name="location" type="text" placeholder="City e.g: san francisco" class="form-control input-md" required="">

              <input id="imageInput" name="image" type="text" placeholder="image url" class="form-control input-md">

              <br></br>
              <label class='col-md-4'>Attributes</label>
              <br></br>
              <div id="attribute-one"class='col-md-4'>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="freeWifi" id="freeWifiBox" >
                    Free wifi
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="outlets" id="outletsBox">
                    Power Outlets
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="goodCoffee" id="goodCoffeeBox">
                    Good Coffee
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="goodForGroups" id="goodForGroupsBox">
                    Good for groups
                  </label>
                </div>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="parkingLot" id="parkingLotBox">
                    Parking Available
                  </label>
                </div>
              </div>
          </div>
          <!--end Inputs
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" id='editModalSubmit'>Save</button>
          </div>
        </form>
        </div>< /.modal-content
      </div><!-- /.modal-dialog
    </div><!-- /.modal-->

  </body>
  </html>
