<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CoffeeBreak</title>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <div class='jumbotron'>
      <div class='container-fluid'>
        <h1> CoffeeBreak </h1>
        <p> Your coffee spot hub. </p>
      </div>
    </div>
    <!--Beginning of Rows-->
    <div class='col-md-5 col-md-offset-2' id='filterForm'>
      <form class='form-vertical'>
        <!--text input-->
        <div class='form-group'>
          <label class='col-md-4' for='location'>Location</label>
          <div class="col-md-4">
            <input id="city" name="city" type="text" placeholder="city" class="form-control input-md">
          </div>

          <div class="form-group">
            <button type="button" class="btn btn-secondary-outline">Find</button>
          </div>
        </div>
        <label class='col-md-4' for='location'>Attributes</label>
        <div class='col-md-2'>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="openNow">
              Open now
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="freeWifi">
              Free wifi
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="fastWifi">
              Fast wifi
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="outlets">
              Power Outlets
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="goodCoffee">
              Good Coffee
            </label>
          </div>
        </div>
        <div class='col-md-2'>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="lively">
              Lively atmosphere
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="quiet">
              Quiet atmosphere
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="goodForGroups">
              Good for groups
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="petFriendly">
              Pet Friendly
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value="parking">
              Parking lot
            </label>
          </div>
        </div>
      </div>
    </form>
    <div>
    </div>

    <div id='target'>
      <script id="coffeeSpot-template" type="text/x-handlebars-template">
        <<!--BEGINNING ROW FOR COFEE SPOT ENTRY-->>
        <div class="col-md-5" id='spotEntry'>
          <h3>{{name}}</h3>
          <button type="button" class="btn btn-primary-outline">Edit</button>
          <button type="button" class="btn btn-primary-outline">Delete</button>

          <div class='col-md-4'>
            <h4>Location</h4>
            <ul>
              <li>free wifi: {{freeWifi}}</li>
              <li>fast wifi: {{fastWifi}}</li>
              <li>Outlets: {{outlets}}</li>
              <li>Good Coffee: {{goodCoffee}}</li>
              <li>Lively Atmosphere: {{lively}}</li>
              <li>Quiet Atmosphere: {{quiet}}</li>
              <li>Good for Groups: {{goodForGroups}}</li>
              <li>Outoor Seating: {{outdoorSeating}}</li>
              <li>Pet Friendly: {{petFriendly}}</li>
              <li>Parking Lot: {{parkingLot}}</li>
            </ul>
          </div>
          <img src="X">
        </div>
      </div>
      <button type="button" class="btn btn-secondary">Add coffee spot</button>
      <nav class="navbar navbar-fixed-bottom navbar-light bg-faded">
        <a class="navbar-brand" href="#">Fixed bottom</a>
      </nav>

    </div>
  </div>
</div>
</div>






</section>

</body>
</html>
