<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>CoffeeBreak</title>

  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" href="styles/style.css">

    <!-- VENDOR SCRIPTS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- APPLICATION SCRIPTS -->
    <script src="scripts/app.js"></script>
  </head>

  <body>
    <div class='jumbotron'>
      <div class='container-fluid'>
        <h1> CoffeeBreak </h1>
        <p> Your coffee spot hub. </p>
      </div>
    </div>

    <button id="add" type="add" class="btn btn-danger">Add Coffee Spot</button>
    <div class="row">
      <div id="location" class="col-md-5">
        <h3>Find a coffee spot</h3>
        <div class='form-group'>
          <label class='col-md-5' for='location'>Location</label>
<br></br>
          <select class="form-control">
              <option>San Francisco</option>
              <option>San Diego</option>
              <option>San Jose</option>
              <option>Los Angeles</option>
            </select>







          <br></br>
          <label class='col-md-4' for='location'>Attributes</label>
          <br></br>
          <div id="attribute-one"class='col-md-4'>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="freeWifi">
                Free wifi
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="outlets">
                Power Outlets
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="goodCoffee">
                Good Coffee
              </label>
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox" value="goodForGroups">
                Good for groups
              </label>
            </div>
          </div>
          <div id="find-btn" class='col-md-4 '>
              <button type="find" class="btn btn-danger">Find Coffee Spot</button>
          </div>
        </form>


      </div>
    </div>


    <div class="col-md-6 col-md-offset-5">
      <h2>Coffee spots</h2>

      <div id="target">
        <script id="coffeespot-template" type="text/x-handlebars-template">
          <div data-coffeespot-id="{{_id}}">
          <h3> {{name}} </h3>
          <h4>{{location.city}}</h4>
          <img class="image-responsive" src="{{image}}">
          <ul>
            <li>Free wifi: {{freeWifi}} </li>
            <li>Power Outlets: {{outlets}} </li>
            <li>Good Coffee: {{goodCoffee}} </li>
            <li>Good for Groups: {{goodForGroups}}</li>
          </ul>
          <span class="buttons">
            <a href="{{link}}">Yelp</a>
            <button type="edit" class="btn btn-secondary">Edit</button>
            <button id="deleteBtn" type="delete" class="btn btn-danger" data-id={{_id}}>Delete</button>
          </span>
          </script>
        </div>
        </div>
    </div>

  </div>


</body>
</html>
