.jumbotron {
background-image: url(../images/jumbcoffee.jpg);
background-size: cover;

}
.jumbotron .container {
  height: 350px;
}

body {
    background-color: light gray;
}

#spotEntry {
  min-height:100px;
  width:600px;
  margin-left:10px;
  background-color: red;
}

.form-vertical {
    font-size: 13px;
    padding-top: 10px;
}

.col-md-6{
  border-style: solid;
}

.col-md-4{
  border-style: solid;
}

#attribute-one{


}

#attribute-two{
    margin-left: 60px;
}

.recommendations {
    border-style: solid;
}

#filterForm {
    margin-left: 20px;
    border-style: solid;
}

.checkbox {
    width: 500px;
    padding-left: 10px;

}

.image {

}

.container {
    border-style: dashed;;
}
