.jumbotron {
background-image: url(../images/jumbcoffee.jpg);
background-size: cover;

}
.jumbotron .container {
  height: 400px;
  position: fixed;
}

.dropdown {
    position: relative;
}

body {
  background-color: darkgray;
}

h2 {
    text-align: left;
    font-weight: bold;
}

#spotEntry {
  min-height:100px;
  width:600px;
  margin-left:20px;
  background-color: red;
}

.form-vertical {
    font-size: 13px;
    padding-top: 10px;
}

.col-md-6{
  position: absolute;
}

.col-md-5{
    position: fixed;
}

.col-md-4{
  position: fixed;

}


#addCoffeespot{
  margin-top: 170px;
  margin-left: 200px;


}

#attribute-two{
    margin-left: 130px;
}

.recommendations {
    border-style: solid;
}

#filterForm {
    margin-left: 20px;
    border-style: solid;
}

.checkbox {
    width: 500px;
    padding-left: 10px;
}

.buttons {
    margin-left: 200px;

}

.container {
    border-style: dashed;;
}

img {
    border-radius: 10%;
}
