.jumbotron {
  background-image: url(../images/coffee-shop-table.jpg);
  background-repeat: space;
  background-size: 100% 100%;
  padding-top: 20%;
  padding-bottom: 20%;
  height: calc(100%);
}

.btn-lg {
}

body {
  background-image:url(../images/coffeeSmiley.jpg);
  opacity: .9;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;}


  h1 {
    text-align: center;
    font-weight: bolder;
  }

  #splashText {
    text-align: center;
    font-weight: bold;

  }

  h2 {
    text-align: center;;
    font-weight: bold;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  h4{
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  h3 {
    text-align: center;
    color: white;
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  }

  .coffeespotHeader {
    padding: 3px;
  }

  .form-vertical {
    font-size: 13px;
    padding-top: 10px;
  }

  .col-md-5{
    position: fixed;
  }

  .col-md-4{
    position: fixed;
    margin-bottom: 30px;
  }

  .col-m-7{
    border-radius: 10px;
  }

  .form-group{
    border-radius: 10%;
    border-bottom: 20px;
  }

  #addCoffeespot{
    margin-left: 200px;
  }

  .checkbox {
    width: 500px;
    padding-left: 10px;
    color: white;
  }

  img {
    border-radius: 10%;
    align-items: center;
    border-style: groove;
    width: 450px;
    height: 300px;
    padding: 5px;
  }

  ul {
    float: right;
    text-align: left;
    margin-right: 50px;
    margin-top: 20px;
    font-size: 18px;
    color: white;
  }

  .buttons {
    padding: 10px;
  }

  #formAdd {
    padding: 5px;
  }

  #checkbox {
    font-family: sans-serif;
  }

.form-horizontal {
    display: none;
}
